<header><nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="einstellungen/index">Einstellungen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="login/index">Login</a>
      </li>
    </ul>
  </div>
</nav></header>
<body>
<form>
  <h1>Blog Beitrag verfassen</h1>
  <h3>Verfassen sie hier ihren Text</h3>
  <textarea class="classtext" type="text" name="Blogtext"></textarea>
  <p><button>Veröffentlichen</button></p>
  <hr>
</form>
</body>

<style>

    form{
        margin-left: 700px;
        margin-right: 700px;
    }
    textarea.classtext{
        width: 600px;
        height: 300px;

        margin-top: 10px;

    }
    hr{
        margin-top: 20px;
        width: 600px;
        margin-left:0px;
    }
    p{
        margin-top: 10px;

    }

    h1{

        margin-top:50px;
    }
    h3{
        margin-top: 100px;
        font-size: 20px;
    }
</style>